.live-chat-message {
  max-width: 227px;
  width: fit-content;
  display: flex;
  gap: 7px;
  margin: 0 auto 23px 0;
  overflow: hidden;
}

.live-chat-message_type_send {
  margin: 0 0 23px auto;
}

.live-chat-message__avatar {
  width: 27px;
  height: 27px;
  object-fit: contain;
  object-position: center;
  border-radius: 50px;
}

.live-chat-message__body {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.live-chat-message__name {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin: 0;
  color: var(--colorText);
}
.live-chat-message__text {
  max-width: 193px;
  padding: 7px 10px;
  border-radius: 0 7px 7px 7px;
  display: block;
  margin: 0;
  text-wrap: wrap;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: var(--colorText);
  background-color: var(--colorMessageBackground);
}

.live-chat-message__text_type_send {
  background-color: var(--colorChatButtonBackround);
  color: var(--colorCustomButtonText);
  border-radius: 7px 0 7px 7px;
}

.live-chat-message__time {
  margin: 0;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-end;
  color: var(--colorTextSecondary);
}

.live-chat-message__time_type_send {
  align-self: flex-start;
}
