.profile {
  padding: 40px 0 196px;
  flex-grow: 1;
  background: no-repeat center 50px / 1130px url(../../assets/backgrounds/main_bg_1.svg),
    no-repeat center 1400px / 1280px url(../../assets/backgrounds/main_bg_2.svg);
}

.profile__container {
  width: 1280px;
  margin: 0 auto;
}
