.notifications-popup-list-item {
  padding: 8px 16px 12px;
  display: flex;
  justify-content: space-between;
}

.notifications-popup-list-item__title {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--colorTextPrimary);
}

.notifications-popup-list-item__title::before {
  display: block;
  margin-right: 8px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: var(--colorStrokeNegative);
}

.notifications-popup-list-item__text {
  padding: 0;
  margin: 0 0 12px 14px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--colorTextSecondary);
}

.notifications-popup-list-item__age {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin: 12px 0 0;
  color: var(--colorTextSecondaryContrast);
}

.notifications-popup-list-item__link {
  display: flex;
  gap: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: var(--colorTextPrimary);
  transition: all ease-in 0.1s;
}

.notifications-popup-list-item__link:hover {
  opacity: 0.7;
}

.notifications-popup-list-item__link::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../../../assets/icons/link.svg');
}
