.status-bar {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  min-height: 32px;
}
.status-bar__text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: 'all ease-in-out 0.15s';
}

.status-bar__text_type_city::before {
  align-self: flex-start;
  content: '';
  display: block;
  width: 13px;
  height: 16px;
  background-image: url('../../../../assets/icons/pin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.status-bar__text_type_online::before {
  align-self: flex-start;
  margin: 4px 0 0;
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--colorIconBackgroundPositive);
  border-radius: 50%;
}

.status-bar__text_type_seats-left::before {
  align-self: flex-start;
  margin: 4px 0 0;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-bar__text_dot-color_green.status-bar__text_type_seats-left::before {
  background-color: var(--colorIconBackgroundPositive);
}

.status-bar__text_dot-color_yellow.status-bar__text_type_seats-left::before {
  background-color: var(--colorIconBackgroundNeutral);
}

.status-bar__text_dot-color_red.status-bar__text_type_seats-left::before {
  background-color: var(--colorStrokeNegative);
}
