.favorites {
  padding: 40px 0 0;
  flex-grow: 1;
  background: no-repeat center 50px / 1130px url(../../assets/backgrounds/main_bg_2.svg),
    no-repeat center 1400px / 1280px url(../../assets/backgrounds/main_bg_1.svg);
}

.favorites__container {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.favorites__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: var(--colorText);
  align-self: flex-start;
  margin: 0;
}

.favorites__title-not-found {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: var(--colorTextSecondary);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
