.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.breadcrumbs__item {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: var(--colorTextSecondary);
}

.breadcrumbs__item_type_link {
  transition: all ease-in 0.1s;
}

.breadcrumbs__item_type_link:hover {
  opacity: 0.7;
}

.breadcrumbs__divider {
  width: 16px;
  height: 16px;
  background-image: url('../../assets/icons/chevron-right.svg');
  margin: 0 8px;
}
